doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/dist/style.bundle.css')

  body
    block content

    script(src='/dist/script.bundle.js')
